.bg-img-1 {
  background-image: url(orom_background_new.png);
}

.carousel-img {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.carousel-control-prev,
.carousel-control-next {
  margin-top: 37%;
}

.carousel-control-prev,
.carousel-control-next {
  color: black; /* Change to your desired color */
  font-size: large;
  font-weight: bold;
}

/* Change the color and size of the "Previous" and "Next" arrow buttons with !important */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: blue !important; /* Change to your desired color */
  font-size: 24px !important; /* Change to your desired font size */
}
